.loader {
  z-index: 99999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  height: 100vh;
  width: 100vW;

  #loader-2-wrapper {
    display: block !important;
    background-color: rgba(2, 2, 2, 0.86) !important;

    #loader-2 {
      display: flex !important;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  }
}

@keyframes load {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.load div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  animation: load 1s linear infinite;
}

.load div:nth-child(1) > div {
  left: 74px;
  top: 44px;
  animation-delay: -0.875s;
}

.load > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}

.load div:nth-child(2) > div {
  left: 65px;
  top: 65px;
  animation-delay: -0.75s;
}

.load > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 71px 71px;
}

.load div:nth-child(3) > div {
  left: 44px;
  top: 74px;
  animation-delay: -0.625s;
}

.load > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 80px;
}

.load div:nth-child(4) > div {
  left: 23px;
  top: 65px;
  animation-delay: -0.5s;
}

.load > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 29px 71px;
}

.load div:nth-child(5) > div {
  left: 14px;
  top: 44px;
  animation-delay: -0.375s;
}

.load > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 20px 50px;
}

.load div:nth-child(6) > div {
  left: 23px;
  top: 23px;
  animation-delay: -0.25s;
}

.load > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 29px 29px;
}

.load div:nth-child(7) > div {
  left: 44px;
  top: 14px;
  animation-delay: -0.125s;
}

.load > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 20px;
}

.load div:nth-child(8) > div {
  left: 65px;
  top: 23px;
  animation-delay: 0s;
}

.load > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 71px 29px;
}

.spinner-spin {
  width: 78px;
  height: 78px;
  display: inline-block;
  overflow: hidden;
}

.load {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.78);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.load div {
  box-sizing: content-box;
}
