<div class="header-container" style="display: flex; padding: 10px">
    <div><img src="assets/jio-logo.png" height="60" width="60" alt=""></div>
    <h2 style="margin: auto">Jio Media Automation Dashboard</h2>
    <div class="d-flex align-items-center">
        <img style="border: 1.5px solid #f5f6fa" class="rounded-circle" src="assets/ui.svg" width="40px" alt="">
        <i (click)="dashboardService.logout()" style="font-size: 40px; margin-left: 10px" class="fa fa-sign-out-alt"></i>
    </div>
</div>
