<div class="header-container" style="display: flex; padding: 10px">
    <div><img alt="" height="60" src="assets/jio-logo.png" width="60"></div>
    <h2 style="margin: auto">Jio Media Automation Dashboard</h2>
    <div class="d-flex align-items-center">
        <img alt="" class="rounded-circle" src="assets/ui.svg" style="border: 1.5px solid #f5f6fa" width="40px">
        <i (click)="dashboardService.logout()" class="fa fa-sign-out-alt"
           style="font-size: 40px; margin-left: 10px"></i>
    </div>
</div>
