<div>
    <app-header></app-header>
</div>
<div class="row m-0">
    <div class="col-sm-2 p-2">
        <div class="chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="user_title">
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts">
                        <li style="margin-bottom: 3rem !important;">
                            <div class="d-flex bd-highlight justify-content-center">
                                <div class="img_cont">
                                    <img class="rounded-circle user_img" src="assets/jio-tv.png">
                                </div>
                            </div>
                        </li>
                        <li style="margin-bottom: 3rem !important;">
                            <div class="d-flex bd-highlight justify-content-center">
                                <div class="img_cont">
                                    <img class="rounded-circle user_img" src="assets/jio-cinema.png">
                                </div>
                            </div>
                        </li>
                        <li style="margin-bottom: 3rem !important;">
                            <div class="d-flex bd-highlight justify-content-center">
                                <div class="img_cont">
                                    <img class="rounded-circle user_img" src="assets/jio-news.png">
                                </div>
                            </div>
                        </li>
                        <li style="margin-bottom: 3rem !important;">
                            <div class="d-flex bd-highlight justify-content-center">
                                <div class="img_cont">
                                    <img class="user_img" src="assets/jio-saavn.png" style="border: none">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

    </div>
    <div class="col-sm-10 p-2">
        <div class="row m-0 p-3 text-center">
            <div class="col-sm-2">
                <div class="option-txt">Home</div>
            </div>
            <div class="col-sm-1">
                <div class="option-txt">Web</div>
            </div>
            <div class="col-sm-2">
                <div class="option-txt">Android</div>
            </div>
            <div class="col-sm-1">
                <div class="option-txt">API</div>
            </div>
            <div class="col-sm-1">
                <div class="option-txt">iOS</div>
            </div>
            <div class="col-sm-2">
                <div class="option-txt">Security</div>
            </div>
            <div class="col-sm-1">
                <div class="option-txt">CI/CD</div>
            </div>
            <div class="col-sm-2">
                <div class="option-txt">Performance</div>
            </div>
        </div>
        <div class="chat d-flex justify-content-center">
            <div class="card mb-sm-3 mb-md-0 contacts_card" style="height: calc(100vh - 155px); min-width: 600px">
                <div class="card-header">
                    <div class="user_title">
                        Active users
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts">
                        <li (click)="setActiveChat(user)"
                            *ngFor="let user of dashboardService.users" [ngClass]="user.id == dashboardService.activeChatUser?.id? 'active' : ''"
                            data-target="#chat-window" data-toggle="modal">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img class="rounded-circle user_img" src="assets/ui.svg">
                                    <span [ngClass]="!user.online ? 'offline' : ''" class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>{{user.name}}</span>
                                    <p *ngIf="getLastMsg(user.id)"
                                       [ngClass]="!getLastMsg(user.id)?.read? 'font-weight-bold' : ''">{{getLastMsg(user.id)?.msg | slice:0:18}}
                                        &bull; {{getLastMsg(user.id)?.time | date: 'hh:mm a'}}</p>
                                    <p *ngIf="!getLastMsg(user.id)">{{user.online ? 'Online' : 'Offline'}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

    </div>
</div>
<app-chat-window></app-chat-window>
