/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  //background-color: #F3F3F9 !important;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #333;
  font-weight: 300;
}
body,html{
  height: 100%;
  margin: 0;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.modal-backdrop.show {
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  opacity: 0.9 !important;
}
